body {
    background-color: #222222;
    color: white;
}

#main-text {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

#time {
    width: 100%;
    display: flex;
}
#time input {
    width: 40px;
}
