* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    font-size: 18px;
    max-width: 500px;
    height: 100vh;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#text-list {
    padding: 10px;
    width: 100%;
    max-height: 500px;
    font-size: 1.8rem;
    border: 1px solid #cccccc;
    overflow: auto;
    flex: 1;
}
#text-list div {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}

#controls {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#time {
    /* width: 100%; */
    display: flex;
}
#time input {
    width: 60px;
}

#create-text button{
    background-color: #ff5555;
}

/* VIDEO */
#myVideo {
    display: none;
    width: 100%;
}
#myVideo.show {
    display: block;
}

#buttons-media {
    display: flex;
    gap: 10px;
}
.btn-media {
    min-width: 30px;
    padding: 5px;
    border-radius: 5px;
}

#load-video {
    display: flex;
    justify-content: space-between;
}



@media (max-width: 400px) {
    #controls {
        flex-direction: column;
    }
    #time {
        order: 1;
    }
    #buttons-media {
        justify-content: center;
    }
    #create-text {
        display: flex;
        justify-content: flex-end;
    }
}
